.wrapper {
  margin: 0;
  padding: 0;
}

.title {
  font-size: 52px;
  font-family: "Black Ops One", system-ui;
  text-align: center;
  font-weight: 500;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
